<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiaolei.pervue.mapper.QlscenicMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qiaolei.pervue.entity.Qlscenic">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="level" property="level" />
        <result column="type" property="type" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="ticket" property="ticket" />
        <result column="pic" property="pic" />
        <result column="introduction" property="introduction" />
    </resultMap>


    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, level, type, province, city, district, ticket, pic, introduction
    </sql>


    <resultMap id="voMap" type="com.qiaolei.pervue.entity.QlscenicVo" extends="BaseResultMap">
        <result property="provinceName" column="provinceName"></result>
        <result property="cityName" column="cityName"></result>
        <result property="districtName" column="districtName"></result>
        <result property="tname" column="tname"></result>
    </resultMap>

    <select id="selectPageVo" resultMap="voMap">
         select s.*,p.province provinceName ,t.name tname,
         IF(c.city = '' ,p.province,c.city) cityName,
         IF(d.district='',d.city,d.district) districtName
         from lx_qlscenic s
         LEFT JOIN nation p on s.province = p.id
         LEFT JOIN nation c on s.city = c.id
         LEFT JOIN nation d on s.district = d.id
				 LEFT JOIN lx_qltype t on s.type = t.id
				 <where>
                     <if test="vo != null ">

                     </if>
                 </where>
    </select>

</mapper>
